.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.wrapper{
    position: relative;
    height: 0;
    // min-width: fit-content;
}

.icon_fullscren{
    position: absolute;
    right: 3%;
    bottom: 3%;
    width: max(1.8em, 3%);
}

.fullscreen{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background: rgb(30,32,35);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.gradient{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, black, transparent);
  top: 0;
}

@media (min-width: 874px) {
    .fullscreen{
        // display: none;
    }
}