.container{
  height: 5px;
  width: 288px;
  background-color: #EEEEEE;
  border-radius: 50px; 
  margin: 10px;
}
.filter{
  height: 100%;
  background-color: #1E2023;
  border-radius: inherit;
  text-align: right;
}
.label{

}